<div class="sidebor">
<ul class="nav nav-tabs nav-justified">
	<li role="presentation"><a href = "/static_pages/home" >非公式大会参加</a></li>
	<li role="presentation"><a href =" /static_pages/home_b">非公式大会募集</a></li>
	<li role="presentation" class="active"><a href="/static_pages/home_c">２Pick</a></li>
  <li role="presentation"><a href="/static_pages/home_d">フリーマッチ</a></li>
</ul>
<div class="row">
	<aside class="col-md-5">
		<section class="freepost_form">
			<%= render 'shared/freepost_form' %>
		</section>
	</aside>
</div>
<div class="col-md-5">
		<ol class="freeposts">
			<%= render @freeposts %>
		</ol>
</div>
</div>
